:root{
    --accent-color: #7A0099;
    --dark-color: #000000 ;
    --white-color: #FFFFFF ;
    --pink-color: #cc8ddb;
    --PopUp-Bg: #737171b4;
}
body{
    margin: 0;
    padding: 0;

}
*{
    font-family: 'Oswald', sans-serif;
}
.header_cont{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--accent-color);
    padding: 10px 50px;
    box-sizing: border-box;
    font-size: 22px;
}
.button{
    font-size: 24px;
    border: none;
    background-color: var(--accent-color);
    text-decoration: none;
}
.button:hover{
    color: var(--pink-color);
    cursor: pointer;
}
.menuFunction{
    display: flex;
    justify-content: start;
    padding: 0px 45px;
    width: 100%;
    margin-top: 15px;
    background-color: var(--PopUp-Bg);
}
.menuFunction button{
    padding: 10px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 6px;
    margin: 10px 5px;
    color: #fff;

}